.App {
  min-height: 100vh;
  background-image: url(./images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 80%;
  background-color: rgb(226, 211, 226);

  padding: 10px;
}
.search-button {
  background: purple;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
